@import "../../styles/variables.css";

.container {
   padding: 0px 5vw 100px 5vw;
}

.header {
   display: flex;
   flex-direction: column;
   place-items: center;
}

.heading {
   @apply --homeHeadings;
   max-width: 900px;
   text-align: center;
   margin-bottom: 24px;
}

.description {
   @apply --description;
   max-width: 60%;
}

.content,
.cards {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.cards {
   max-width: 600px;
}

.centralContent {
   display: flex;
   flex-direction: column;
   place-items: center;
}
