@import "../../styles/checkout.css";

.container {
   @apply --container;
}

.heading {
   @apply --heading;
}

.form {
   @apply --form;
}

.row {
   @apply --row;
}

fieldset
{
   border: none;
   margin:0;
   padding:0;
   display: flex;
   flex-direction: column;
}