@import "../../styles/checkout.css";

.container {
   @apply --container;
}

.heading {
   @apply --heading;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 18px;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 20px;
}

.row input {
   width: 90%;
}