@import "../../styles/variables.css";

.container {
   padding: 0px 5vw 75px 5vw;
   text-align: justify;
}

.heading {
   @apply --pageHeading;
   text-align: left;
}

.header p {
   min-width: 300px !important;
   line-height: 1rem;
}

.header {
   display: flex;
   flex-direction: row;
   gap: 20px;
   width: 100%;
   padding-block: 50px;
}

.subHeading {
   @apply --subHeading;
}

.testimonial {
   @apply --testimonial;
}

.attributes {
   display: flex;
   flex-direction: row;
}

.key {
   font-weight: 500;
   color: var(--primaryColor);
   max-width: 300px;
}

.details {
   display: flex;
   flex-direction: row;
   gap: 100px;
   width: 100%;
}

.about {
   width: 68%;
}

.pricing {
   @apply --pricing;
}

.booking {
   @apply --booking;
}

.delete {
   @apply --IconDelete;
   padding-left: 30px;
   width: 20px;
}

.iconsDelEdit {
   @apply --IconsBox;
}

.iconsBox {
   position: relative;
   width: 110px;
}