@import "../../styles/variables.css";
.body {
   @apply --body;
}

.title {
   @apply --title;
}

.stats {
   @apply --stats;
   margin-top: 10px;
   margin-bottom: 10px;
}

.rating {
   @apply --rating;
}

.place {
   @apply --place;
   padding-block: 8px;
}

.reviews {
   color: var(--assistColor);
}

.flex
{
   @apply --stats;
   padding-block: 5px;
}