@import "../../styles/checkout.css";
@import "../../styles/variables.css";


 .container {
    @apply --container;
 }

 .subHeading {
   @apply --subHeading;
}

 .form {
    @apply --form;
    padding-top: 16px;
 }

 .row {
    @apply --row;
 }

 .securityMessage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 20px;
 }

 .lockIcon {
    margin-right: 5px;
 }
