@import "../../styles/variables.css";

.container {
    padding: 2vh 7vw;
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  
  .container h1 {
    font-size: 2.3rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-block: 50px;
  }

  .heading {
    margin-top: 0px;
    max-width: 900px;
    min-width: 400px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 24px;
  }

  .box
  {
    margin: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
    padding: 30px;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 80%;
  }

  .box form
  {
    width: 100%;
  }

  .verificationMessage {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }