@import "../../styles/variables.css";

.container {
  @apply --pageContainer;
}

.formBorder {
  border-radius: 5px;
  box-shadow: 0px 2px 4px 3px rgb(0, 0, 0, 0.1);
}

.formContainer {
  padding: 1rem 2rem;
}

.container img {
  width: 60%;
  margin: auto auto 20px auto;
  display: block;
  border-radius: 12px;
}

.container h1 {
  margin: 0px;
  @apply --headerHeading;
}

.flexContainer {
  display: flex;
}

.flexContainer>* {
  flex: 1;
  margin-right: 16px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#heading2 {
  margin: 30px 0px 0px 0px !important;
}

.headingContainer {
  display: flex;
  align-items: baseline;
  column-gap: 1rem;
}