@import "../../styles/checkout.css";

.container {
   @apply --container;
   width: 24rem;
}

.heading {
   @apply --heading;
}

.subtitle {
   margin-bottom: 1rem;
}

.items {
   display: flex;
   flex-direction: column;
   gap: 0.1rem;
}

.separator {
   margin: 0.5rem 0;
   border: none;
   border-bottom: 1px solid var(--assistColorLight);
}
