@import "../../styles/checkout.css";
@import "../../styles/variables.css";

.container {
   @apply --container;
}

.subHeading {
   @apply --subHeading;
}

.subtitle {
   margin-bottom: 1rem;
   font-weight: 500;
   color: var(--primaryColor);
}

.items {
   display: flex;
   flex-direction: column;
   gap: 0.1rem;
}

.separator {
   margin: 0.5rem 0;
   border: none;
   border-bottom: 1px solid var(--assistColorLight);
}
