@import "../../styles/variables.css";

.spacedHeading
{
  @apply --spacedHeading;
}

.faqDropdowns {
  flex-basis: 70%;
}

.imageContainer {
  flex-basis: 30%;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 0px;
}