@import "../../styles/variables.css";

.spacedHeading
{
  @apply --spacedHeading;
}

input[name="generalField"] {
  margin-top: 40px;
  width: 92%;
}

.faqDropdowns {
  flex-basis: 70%;
}

.imageContainer {
  flex-basis: 30%;
}

.formFields {
  width: 96%;
  margin-top: -10px;
}


.content {
  display: flex;
  flex-direction: row;
  gap: 0px;
}