.container {
  padding: 0px 5vw 75px 5vw;
}

.header {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-block: 50px;
}

.header h1 {
  margin-bottom: 8px;
  margin-top: 0;
}

.subHeading {
  letter-spacing: 0.1em;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--primaryColor);
  font-weight: 600;
}

.switchWrapper {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 20px;
}

.description {
  color: var(--assistColor);
  max-width: 500px;
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.plans {
  display: flex;
  justify-content: space-around;
}
