@import "../../styles/variables.css";

.container {
  padding: 0px 5vw 75px 5vw;

}

.header {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-block: 50px;
}

.header h1 {
  margin-bottom: 8px;
  margin-top: 0;
}

.subHeading {
  @apply --subHeading;
}

.switchWrapper {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 20px;
}

.description {
  color: var(--assistColor);
  max-width: 500px;
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.plans {
  display: flex;
  justify-content: space-around;
}

.form
{
  margin: 50px;
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  max-width: 40%;
}