@import "../../styles/variables.css";

.container {
    margin: 40px 0;
}

.subHeading {
    @apply --subHeading;
 }
 
h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.comment {
    margin-top: 16px;
    padding: 14px 2px;
    border-bottom: 1px solid var(--assistColor);
    overflow-wrap: break-word;
}

.commentAuthor {
    color: var(--assistColor);
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 18px;
}

.commentDate {
    font-size: 14px;
    color: var(--assistColor);
    padding-left: 0.7em;
}

.commentText {
    font-size: 16px;
    margin-top: 10px;
}