.body {
   text-align: left;
   line-height: 1.5rem;
   font-weight: 400;
   letter-spacing: 0.5px;
}

.body p {
   margin-block: 5px;
}

.title {
   font-weight: 500;
   font-size: 1.1rem;
   line-height: 1.4rem;
   letter-spacing: 0.5px;
   color: var(--textColor);
}

.stats {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 0px 10px 0px !important;
}

.place {
   color: var(--primaryColor);
   font-weight: 600;
   margin: 20px 0px 0px 0px !important;
}

.reviews {
   color: var(--assistColor);
}
