@import "../../styles/variables.css";

.container {
   padding: 0px 5vw 0px 5vw;
}

.heading {
   @apply --pageHeading;
   margin-bottom: 8px;
   margin-top: 0;
}

 .subHeading {
   @apply --spacedHeading;
}

.header {
   display: flex;
   flex-direction: column;
   place-items: center;
   padding-top: 50px;
}

.information {
   display: flex;
   flex-direction: row;
   align-items: space-between;
   justify-content: space-evenly;
}
