.container {
   padding: 0px 5vw 0px 5vw;
}

.header {
   display: flex;
   flex-direction: column;
   place-items: center;
   padding-block: 50px;
}

.header h1 {
   margin-bottom: 8px;
   margin-top: 0;
}

.subHeading {
   letter-spacing: 0.1em;
   line-height: 20px;
   text-transform: uppercase;
   color: var(--primaryColor);
   font-weight: 600;
}
