@import "../../styles/variables.css";

.container {
   border-radius: 4px;
   @apply --boxShadow;
   width: 24rem;
   padding: 1rem 2rem;
   margin-block: 3rem;
}

.heading {
   font-size: 1.5rem;
   font-weight: 500;
   margin-bottom: 2rem;
}

.summaryItem {
   display: flex;
   justify-content: space-between;
}

.total {
   font-size: 1.2rem;
   font-weight: 500;
}

.hr {
   border: 0;
   height: 1px;
   background-color: var(--assistColor);
   margin: 10px 0;
}
