@import "../../styles/checkout.css";
@import "../../styles/variables.css";

.container {
   @apply --container;
}

.heading {
   @apply --subHeading;
}

.form
{
   padding: 15px;
   padding-bottom: 2px;
   border: 1px solid var(--assistColorLight);
   border-radius: 4px;
   height: 34px;
}