.formField{
      padding: 7px 0px;
      width: 87%;
      border-radius: 12px;
      border: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      height: 34px;
      box-sizing:content-box;
    }

  .field{
    width: 100%;
    margin-bottom: 14px;
  }

  .formField::placeholder{
    font-weight: 400;
    color: #747688;
  }
  
  .fieldIcon{
  position: absolute;
  padding: 0px 20px;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 11px;
}


/* TODO: Make this property of input fields global->pdding, backgrnd etc  
  TODO: Make field generic as having icons.. but in some cases, icon is not there  */

  .field {
    position: relative;
  }
  
  .iconInput {
    padding-left: calc(1em + 2px + 35px); /* icon width + icon padding-left + desired separation*/
  }

  .noIconInput{
    padding-left: 20px;
    width: 95%;
  }
  
  .errors{
    color: var(--formLight);
  }