--font-size-25xs: 3.76px;
--font-size-24xs: 3.51px;
--font-size-23xs: 3.26px;
--font-size-22xs: 3.01px;
--font-size-21xs: 3.5px;
--font-size-20xs: 3.15px;
--font-size-19xs: 3.68px;
--font-size-18xs: 3.31px;
--font-size-17xs: 4.01px;
--font-size-16xs: 4.51px;
--font-size-15xs: 5.02px;
--font-size-14xs: 5.52px;
--font-size-13xs: 5px;
--font-size-12xs: 6.02px;
--font-size-11xs: 6.58px;
--font-size-10xs: 7.52px;
--font-size-9xs: 7.49px;
--font-size-8xs: 8.03px;
--font-size-7xs: 9.53px;
--font-size-6xs: 9.2px;
--font-size-5xs: 10.32px;
--font-size-4xs: 12px;
--font-size-3xs: 13px;
--font-size-2xs: 14px;
--components-button-large-size: 15px;
--typography-body-1-size: 16px;
--text-single-200-medium-size: 18px;
--text-single-300-medium-size: 20px;
--font-size-xl: 21px;
--font-size-2xl: 22px;
--headings-typography-size-3-size: 24px;
--font-size-4xl: 30px;
--font-size-5xl: 32px;
--font-size-6xl: 38px;
--font-size-7xl: 40px;
--font-size-8xl: 42px;
--font-size-9xl: 46px;
--font-size-10xl: 48px;
--font-size-11xl: 51px;
--headings-typography-size-1-size: 54px;
--font-size-13xl: 60px;
--font-size-14xl: 61px;
--font-size-15xl: 65px;
--font-size-16xl: 74px;
--font-size-17xl: 150px;
--color-teal-200: #004346;
--color-gray-100: #fafbff;
--color-gray-200: #f8f9fb;
--color-gray-300: #f3f7fb;
--neutral-300: #eff0f6;
--color-gray-500: #eaeaea;
--color-gray-600: #e8e9eb;
--color-gray-700: #e2e6ee;
--color-gray-800: #e0e0e0;
--neutral-400: #d9dbe9;
--color-gray-1000: #ccdcec;
--color-gray-1100: #cecece;
--studio-lightmode-placeholders-bac2d6: #bac2d6;
--color-gray-1300: #bdbdbd;
--color-gray-1400: #b5bccc;
--color-gray-1500: #adadad;
--studio-darkmode-normalsolid-icons-96a2be: #96a2be;
--color-gray-1700: #4dabff;
--color-gray-1800: #999;
--color-gray-1900: #959595;
--color-gray-2000: #8e8e94;
--color-gray-2100: #7e8b97;
--grey-1: #808080;
--studio-darkmode-popuplabels-5e6a86: #5e6a86;
--color-gray-2400: #646468;
--color-gray-2500: #616161;
--color-gray-2600: #576074;
--color-gray-2700: #57575d;
--color-gray-2800: #1262af;
--color-gray-2900: #1262ae;
--color-gray-3000: #535353;
--studio-darkmode-explainertext-485269: #485269;
--color-gray-3200: #484f5e;
--color-gray-3300: #3f4c5a;
--color-gray-3400: #40495e;
--color-gray-3500: #434343;
--color-gray-3600: #424242;
--color-gray-3700: #303030;
--secondary: #172a3a;
--black: #112b3c;
--color-gray-4000: #1e1e1e;
--color-gray-4100: #191919;
--color-gray-4200: rgba(0, 0, 0, 0.6);
--color-gray-4300: rgba(0, 0, 0, 0.23);
--color-gray-4400: rgba(226, 226, 226, 0.1);
--action-hover: rgba(0, 0, 0, 0.04);
--color-gray-4600: rgba(0, 0, 0, 0.87);
--color-gray-4700: rgba(18, 98, 175, 0.05);
--color-gray-4800: rgba(255, 255, 255, 0.2);
--color-orange-100: #ff9b53;
--color-orange-200: #fba403;
--color-orange-300: #f99a0e;
--color-orange-400: #dc880b;
--color-orange-500: #9e6104;
--studio-darkmode-maincta-457eff: #457eff;
--color-indigo-200: #6967da;
--color-green: #79ca00;
--color-gold: #fdbf00;
--color-black: #000;
--color-brown-100: #f4596c;
--color-cyan: #4bc9ff;
--color-turquoise: #4fc786;
--gap-0: 0px;
--gap-14xs: 0.75px;
--gap-13xs: 1.5px;
--gap-12xs: 2px;
--gap-11xs: 2.51px;
--gap-10xs: 2.76px;
--gap-9xs: 2.01px;
--gap-8xs: 3px;
--gap-7xs: 4px;
--gap-6xs: 5px;
--gap-5xs: 5.02px;
--gap-4xs: 5.77px;
--gap-3xs: 6px;
--gap-2xs: 6.02px;
--gap-xs: 7px;
--gap-sm: 7.52px;
--gap-md: 8px;
--gap-lg: 9.03px;
--gap-xl: 10px;
--gap-2xl: 11px;
--gap-3xl: 12px;
--gap-4xl: 14px;
--gap-5xl: 16px;
--gap-6xl: 17px;
--gap-7xl: 20px;
--gap-8xl: 21px;
--gap-9xl: 23px;
--gap-10xl: 24px;
--gap-11xl: 30px;
--gap-12xl: 31px;
--gap-13xl: 36px;
--gap-14xl: 44px;
--gap-15xl: 50px;
--padding-16xs: 0.7524029016494751px;
--padding-15xs: 1.254004716873169px;
--padding-14xs: 1.0032038688659668px;
--padding-13xs: 1.5048058032989502px;
--padding-12xs: 2.0064077377319336px;
--padding-11xs: 3px;
--padding-10xs: 3.0096113681793213px;
--padding-9xs: 3.762014865875244px;
--padding-8xs: 3.2604126930236816px;
--padding-7xs: 4px;
--padding-6xs: 4.012815475463867px;
--padding-5xs: 5px;
--padding-4xs: 5.016018867492676px;
--padding-3xs: 6px;
--padding-2xs: 8px;
--padding-xs: 10px;
--padding-sm: 11px;
--padding-md: 12px;
--padding-lg: 13px;
--padding-xl: 15px;
--padding-2xl: 16px;
--padding-3xl: 20px;
--padding-4xl: 20.064075469970703px;
--padding-5xl: 21px;
--padding-6xl: 22px;
--padding-7xl: 24px;
--padding-8xl: 25px;
--padding-9xl: 28px;
--padding-10xl: 30px;
--padding-11xl: 33px;
--padding-12xl: 40px;
--padding-13xl: 50px;
--padding-14xl: 80px;
--padding-15xl: 84px;
--br-7xs: 1px;
--br-6xs: 2.51px;
--br-5xs: 4px;
--br-4xs: 4.01px;
--br-3xs: 6px;
--br-2xs: 7.77px;
--br-xs: 8px;
--br-sm: 10px;
--br-md: 12px;
--br-lg: 16px;
--br-xl: 16.05px;
--br-2xl: 24px;
--br-3xl: 27px;
--br-4xl: 30px;
--br-5xl: 31px;
--br-6xl: 38px;
--br-7xl: 64px;
--d1: 0px 12px 40px rgba(0, 0, 0, 0.04);

  {
  /* <div className={styles.footer8}>
        <div className={styles.websiteLinksParent}>
          <div className={styles.websiteLinks}>Website Links</div>
          <p className={styles.home2}>Home</p>
          <p className={styles.about1}>About</p>
          <p className={styles.services1}>Services</p>
          <p className={styles.pricing1}>Pricing</p>
        </div>
        <div className={styles.copyrighted2022TourpkTechParent}>
          <p className={styles.copyrighted2022TourpkTech}>
            Copyrighted © 2022 tourPk technologies
          </p>
          <img className={styles.groupChild} alt="" src="../line-1.svg" />
        </div>
        <img className={styles.footer8Child} alt="" src="../group-2.svg" />
        <img
          className={styles.logo1Icon1}
          alt="logo"
          loading="eager"
          src="../logo-11@2x.png"
        />
        <div className={styles.ellipseParent}>
          <img className={styles.groupItem} alt="" src="../ellipse-1.svg" />
          <img className={styles.groupInner} alt="" src="../ellipse-2.svg" />
          <div className={styles.getInTouch}>Get In touch</div>
          <img className={styles.ellipseIcon} alt="" src="../ellipse-3.svg" />
        </div>
        <div className={styles.servicesParent}>
          <div className={styles.services2}>Services</div>
          <p className={styles.architecture}>Architecture</p>
          <p className={styles.buildings}>Buildings</p>
          <p className={styles.dMaps}>3d maps</p>
          <p className={styles.stuctureDesign}>{`Stucture design `}</p>
        </div>
      </div> */
}

  {
  /* <div className={styles.headerParent}>
        <div className={styles.header}>
          <div className={styles.getStartedNowParent}>
            <b className={styles.getStartedNow}>Get Started Now</b>
            <p className={styles.loremIpsumDolorSitAmetCon}>
              Lorem ipsum dolor sit amet consectetur adipiscing elit dolor
              posuere vel venenatis eu sit massa volutpat.
            </p>
          </div>
          <p className={styles.plansPricing}>{`Plans & Pricing`}</p>
          <div className={styles.monthlyParent}>
            <p className={styles.monthly}>Monthly</p>
            <p className={styles.annually}>Annually</p> */
}

  {
  /* <ChakraSwitch
              className={styles.groupChakraswitch}
              colorScheme="teal"
            /> */
}

  {
  /* </div>
        </div>
        <div className={styles.pricingCard}>
          <div className={styles.pricingWrapper}>
            <div className={styles.spacers} />
            <div className={styles.spacers1} />
            <div className={styles.px}>
              <div className={styles.px1}>
                <div className={styles.px2}>
                  <img
                    className={styles.squarepaperPlaneIcon}
                    alt=""
                    src="../squarepaper-plane.svg"
                  />
                  <img
                    className={styles.pxChild}
                    alt=""
                    src="../ellipse-438.svg"
                  />
                  <img
                    className={styles.pxItem}
                    alt=""
                    src="../ellipse-439.svg"
                  />
                  <div className={styles.px3}>
                    <div className={styles.subtitle}>For individuals</div>
                    <b className={styles.price}>Basic</b>
                  </div>
                </div>
                <div className={styles.px4}>
                  <div
                    className={styles.paragraph}
                  >{`Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. `}</div>
                </div>
              </div>
              <div className={styles.px5}>
                <div className={styles.text200Parent}>
                  <b className={styles.text200}>What’s included</b>
                  <div className={styles.px6}>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle.svg"
                        />
                        <p className={styles.text2001}>
                          All analytics features
                        </p>
                      </div>
                    </div>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle1.svg"
                        />
                        <p className={styles.text2001}>
                          Up to 250,000 tracked visits
                        </p>
                      </div>
                    </div>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle2.svg"
                        />
                        <div className={styles.text2003}>Normal support</div>
                      </div>
                    </div>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle3.svg"
                        />
                        <div className={styles.text2003}>
                          Up to 3 team members
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div className={styles.px7}>
                  <b className={styles.price1}>$99</b>
                  <div className={styles.monthly1}>
                    <div className={styles.spacer} />
                    <div className={styles.monthly2}>/monthly</div>
                  </div>
                </div>
              </div>
              {/* <MuiButton
                className={styles.primaryButton}
                sx={{ width: 308 }}
                variant="contained"
                color="primary"
              >
                Get started
              </MuiButton> */
}

  {
  /* </div>
          </div>
        </div>
        <div className={styles.pricingCard1}>
          <div className={styles.pricingWrapper1}>
            <div className={styles.spacers2} />
            <div className={styles.spacers3} />
            <div className={styles.px8}>
              <div className={styles.px1}>
                <div className={styles.px10}>
                  <img
                    className={styles.squarepaperPlaneIcon}
                    alt=""
                    src="../squarepaper-plane1.svg"
                  />
                  <img
                    className={styles.pxInner}
                    alt=""
                    src="../group-39506.svg"
                  />
                  <div className={styles.px11}>
                    <div className={styles.subtitle}>For big companies</div>
                    <b className={styles.price}>Enterprise</b>
                  </div>
                </div>
                <div className={styles.px4}>
                  <div
                    className={styles.paragraph}
                  >{`Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. `}</div>
                </div>
              </div>
              <div className={styles.px13}>
                <div className={styles.text200Group}>
                  <b className={styles.text2005}>What’s included</b>
                  <div className={styles.px14}>
                    <div className={styles.iconsListItem4}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle4.svg"
                        />
                        <div className={styles.text2003}>
                          All analytics features
                        </div>
                      </div>
                    </div>
                    <div className={styles.iconsListItem5}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle5.svg"
                        />
                        <div className={styles.text2003}>
                          Up to 5,000,000 tracked visits
                        </div>
                      </div>
                    </div>
                    <div className={styles.iconsListItem6}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle6.svg"
                        />
                        <div className={styles.text2003}>Dedicated support</div>
                      </div>
                    </div>
                    <div className={styles.iconsListItem7}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle7.svg"
                        />
                        <div className={styles.text2003}>
                          Up to 50 team members
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div className={styles.px15}>
                  <b className={styles.price3}>$399</b>
                  <div className={styles.monthly3}>
                    <div className={styles.spacer} />
                    <div className={styles.monthly2}>/monthly</div>
                  </div>
                </div>
              </div> */
}

  {
  /* <MuiButton
                className={styles.primaryButton1}
                sx={{ width: 308 }}
                variant="contained"
                color="primary"
              >
                Get started
              </MuiButton> */
}

  {
  /* </div>
          </div>
        </div>
        <div className={styles.pricingCard2}>
          <div className={styles.pricingWrapper2}>
            <div className={styles.spacers4} />
            <div className={styles.spacers5} />
            <div className={styles.px16}>
              <div className={styles.px1}>
                <div className={styles.px18}>
                  <img
                    className={styles.squarepaperPlaneIcon}
                    alt=""
                    src="../squarepaper-plane2.svg"
                  />
                  <div className={styles.pxChild}>
                    <div className={styles.rectangleDiv} />
                    <div className={styles.groupChild1} />
                    <div className={styles.groupChild2} />
                  </div>
                  <div className={styles.px19}>
                    <div className={styles.subtitle}>For startups</div>
                    <b className={styles.price4}>Pro</b>
                  </div>
                </div>
                <div className={styles.px20}>
                  <div
                    className={styles.paragraph}
                  >{`Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit. `}</div>
                </div>
                <div className={styles.rectangleGroup}>
                  <div className={styles.groupChild3} />
                  <div className={styles.popular}>Popular</div>
                </div>
              </div>
              <div className={styles.px21}>
                <div className={styles.text200Container}>
                  <b className={styles.text200}>What’s included</b>
                  <div className={styles.px22}>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle8.svg"
                        />
                        <div className={styles.text2003}>
                          All analytics features
                        </div>
                      </div>
                    </div>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle9.svg"
                        />
                        <div className={styles.text2003}>
                          Up to 1,000,000 tracked visits
                        </div>
                      </div>
                    </div>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle10.svg"
                        />
                        <div className={styles.text2003}>Premium support</div>
                      </div>
                    </div>
                    <div className={styles.iconsListItem}>
                      <div className={styles.listItem200}>
                        <img
                          className={styles.filledIconscheckCircle}
                          alt=""
                          src="../filled-iconscheck-circle11.svg"
                        />
                        <div className={styles.text2003}>
                          Up to 10 team members
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div className={styles.px7}>
                  <b className={styles.price1}>$199</b>
                  <div className={styles.monthly5}>
                    <div className={styles.spacer} />
                    <div className={styles.monthly2}>/monthly</div>
                  </div>
                </div>
              </div> */
}

  {
  /* <MuiButton
                className={styles.primaryButton2}
                sx={{ width: 308 }}
                variant="contained"
                color="info"
              >
                Get started
              </MuiButton> */
}

  {
  /* </div>
          </div>
        </div>
      </div> */
}

/* .bg,
.home1 {
  position: absolute;
  top: 0;
  left: 0;
}
.bg {
  background-color: var(--studio-darkmode-allwhite-ffffff);
  box-shadow: var(--d1);
  width: 1365px;
}
.home1 {
  margin: 0;
  font-size: var(--text-single-300-medium-size);
  font-weight: 500;
  font-family: var(--font-primary);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.homeChild {
  position: absolute;
  top: 30px;
  left: 17px;
  border-radius: var(--br-4xl);
  background-color: var(--color-teal-200);
  width: 18px;
  height: 4px;
}
.about,
.home {
  position: absolute;
  top: 62px;
}
.home {
  text-decoration: none;
  left: 515px;
  width: 55px;
  height: 24px;
}
.home:hover {
  border-bottom: 3px;
  border-bottom-color: #004346;
  border-bottom-left-radius: var(--br-3xs);
  border-bottom-right-radius: var(--br-3xs);
}
.about {
  left: 583px;
  font-size: var(--text-single-300-medium-size);
  font-family: var(--font-primary);
  color: var(--grey-1);
  text-align: left;
  display: inline-block;
  width: 66px;
}
.about,
.pricing,
.services {
  text-decoration: none;
}
.services {
  position: absolute;
  top: 62px;
  left: 661px;
  font-size: var(--text-single-300-medium-size);
  font-family: var(--font-primary);
  color: var(--grey-1);
  text-align: left;
  display: inline-block;
  width: 78px;
}
.pricing {
  left: 750px;
  width: 76px;
}
.contact,
.login,
.pricing {
  position: absolute;
  top: 62px;
  font-size: var(--text-single-300-medium-size);
  font-family: var(--font-primary);
  color: var(--grey-1);
  text-align: left;
  display: inline-block;
}
.contact {
  left: 833px;
  width: 82px;
  text-decoration: none;
}
.login {
  left: 1076px;
  width: 52px;
}
.register {
  top: 52px;
  left: 1157px;
}
.logo1Icon,
.nav,
.register {
  position: absolute;
}
.logo1Icon {
  top: 30px;
  left: 108.06px;
  width: 206.94px;
  height: 87px;
  object-fit: cover;
}
.nav {
  top: 0;
  left: 1px;
  width: 1365px;
  height: 123px;
}
.websiteLinks {
  position: absolute;
  top: calc(50% - 115.44px);
  left: calc(50% - 72.5px);
  font-size: var(--text-single-300-medium-size);
  font-weight: 600;
  color: var(--color-gray-4000);
  display: inline-block;
  width: 145px;
}
.about1,
.home2,
.pricing1,
.services1 {
  margin: 0;
  position: absolute;
  top: calc(50% - 76.56px);
  left: calc(50% - 72.5px);
  display: flex;
  align-items: center;
  width: 98.09px;
  height: 48px;
}
.about1,
.pricing1,
.services1 {
  top: calc(50% - 28.56px);
}
.pricing1,
.services1 {
  top: calc(50% + 19.44px);
  width: 115.15px;
}
.pricing1 {
  top: calc(50% + 67.44px);
  width: 98.09px;
}
.websiteLinksParent {
  position: absolute;
  top: calc(50% - 111.16px);
  left: calc(50% + 106px);
  width: 145px;
  height: 230.88px;
}
.copyrighted2022TourpkTech {
  margin: 0;
  position: absolute;
  top: 36px;
  left: 1015px;
  display: inline-block;
  width: 292px;
  height: 26px;
}
.copyrighted2022TourpkTechParent,
.groupChild {
  position: absolute;
  top: -0.3px;
  left: 0;
  width: 1366px;
  height: 2.44px;
}
.copyrighted2022TourpkTechParent {
  top: 406px;
  height: 62px;
}
.footer8Child,
.logo1Icon1 {
  position: absolute;
  top: 444px;
  left: 84px;
  width: 104px;
  height: 24px;
}
.logo1Icon1 {
  top: 22px;
  left: 783px;
  width: 203px;
  height: 87px;
  object-fit: cover;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 16.63px;
  left: 30.89px;
  width: 302.13px;
  height: 302.13px;
  opacity: 0.9;
}
.groupInner {
  top: 0;
  left: 0;
  width: 139.06px;
  height: 139.06px;
  opacity: 0.3;
}
.getInTouch {
  position: absolute;
  top: calc(50% - 14.13px);
  left: calc(50% - 82.19px);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.ellipseIcon {
  position: absolute;
  top: 192.06px;
  left: 229.47px;
  width: 153.88px;
  height: 153.88px;
  opacity: 0.3;
}
.ellipseParent,
.services2 {
  position: absolute;
  font-size: var(--text-single-300-medium-size);
}
.ellipseParent {
  top: 49.15px;
  left: 240.51px;
  width: 383.35px;
  height: 345.94px;
  text-align: center;
  color: var(--studio-darkmode-allwhite-ffffff);
}
.services2 {
  top: calc(50% - 115.61px);
  left: calc(50% - 72.5px);
  font-weight: 600;
  color: var(--color-gray-4000);
  display: inline-block;
  width: 108px;
}
.architecture,
.buildings,
.dMaps,
.stuctureDesign {
  margin: 0;
  position: absolute;
  top: calc(50% - 76.39px);
  left: calc(50% - 72.5px);
  display: flex;
  align-items: center;
  width: 145px;
  height: 48px;
}
.buildings,
.dMaps,
.stuctureDesign {
  top: calc(50% - 28.39px);
}
.dMaps,
.stuctureDesign {
  top: calc(50% + 19.61px);
}
.stuctureDesign {
  top: calc(50% + 67.61px);
}
.servicesParent {
  position: absolute;
  top: calc(50% - 111.5px);
  left: calc(50% + 308px);
  width: 145px;
  height: 231.22px;
}
.footer8 {
  position: absolute;
  top: 1542px;
  left: 0;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 1366px;
  height: 489px;
  overflow: hidden;
}
.getStartedNow,
.loremIpsumDolorSitAmetCon {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 62px;
  display: inline-block;
  width: 735.28px;
  height: 64.94px;
}
.loremIpsumDolorSitAmetCon {
  margin: 0;
  height: 50.08%;
  width: 71.67%;
  top: 49.92%;
  left: 11.3%;
  font-size: var(--text-single-200-medium-size);
  line-height: 30px;
  font-family: var(--text-single-200-medium);
  color: var(--assist);
}
.getStartedNowParent {
  position: absolute;
  top: 48.22px;
  left: 0;
  width: 735.28px;
  height: 129.78px;
  text-align: center;
  font-size: 50px;
}
.annually,
.monthly,
.plansPricing {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.plansPricing {
  top: 0;
  left: 284.09px;
  letter-spacing: 0.1em;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-teal-200);
  width: 205px;
  height: 21px;
}
.annually,
.monthly {
  height: 89.69%;
  width: 25.94%;
  top: 2.89%;
  left: 0;
  line-height: 30px;
}
.annually {
  width: 23.13%;
  left: 76.88%;
}
.groupChakraswitch,
.monthlyParent {
  position: absolute;
  top: 0;
  left: 110px;
}
.monthlyParent {
  height: 11.58%;
  width: 43.52%;
  top: 88.42%;
  right: 30.22%;
  bottom: 0;
  left: 26.26%;
  font-family: var(--text-single-200-medium);
}
.header {
  position: absolute;
  top: 0;
  left: 295.91px;
  width: 735.28px;
  height: 298.56px;
  color: var(--secondary);
  font-family: var(--typography-body-1);
}
.spacers,
.spacers1 {
  position: absolute;
  top: 183.5px;
  left: 328.92px;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 37.81px;
  height: 352px;
  opacity: 0.01;
}
.spacers1 {
  left: 0;
}
.pxChild,
.pxItem,
.squarepaperPlaneIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}
.pxChild,
.pxItem {
  top: 17px;
  left: 17px;
  width: 38px;
  height: 38px;
}
.pxItem {
  left: 36px;
  width: 19px;
}
.subtitle {
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.price,
.px3,
.subtitle {
  position: absolute;
}
.price {
  top: 20px;
  left: 0;
  font-size: var(--headings-typography-size-3-size);
  line-height: 35px;
  display: inline-block;
  color: var(--secondary);
}
.px3 {
  top: 6px;
  left: 90px;
  width: 147px;
  height: 60px;
}
.paragraph,
.px2 {
  position: absolute;
  top: 0;
  left: 0;
}
.px2 {
  width: 166px;
  height: 72px;
}
.paragraph {
  line-height: 30px;
  display: inline-block;
  width: 307px;
}
.px4 {
  top: 90px;
  width: 307px;
  height: 60px;
}
.px1,
.px4,
.text200 {
  position: absolute;
  left: 0;
}
.px1 {
  top: 10px;
  width: 307px;
  height: 150px;
}
.text200 {
  top: 0;
  line-height: 20px;
  display: inline-block;
}
.filledIconscheckCircle {
  position: relative;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  overflow: hidden;
}
.text2001 {
  margin: 0;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.iconsListItem,
.listItem200 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.listItem200 {
  align-items: center;
  gap: var(--gap-4xl);
}
.iconsListItem {
  align-items: flex-start;
}
.text2003 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.px6,
.text200Parent {
  position: absolute;
  left: 0;
}
.px6 {
  top: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.text200Parent {
  top: 64px;
  width: 280px;
  height: 196px;
}
.price1 {
  position: relative;
  line-height: 66px;
  display: inline-block;
}
.spacer {
  position: absolute;
  top: 0;
  left: 7.57px;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 6px;
  height: 5.57px;
  opacity: 0;
}
.monthly2 {
  position: absolute;
  top: 19.78px;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.monthly1 {
  position: relative;
  width: 87px;
  height: 41.78px;
  flex-shrink: 0;
  font-size: var(--text-single-300-medium-size);
  color: var(--assist);
}
.px5,
.px7 {
  position: absolute;
  left: 0;
}
.px7 {
  top: -19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--headings-typography-size-1-size);
}
.px5 {
  top: 192px;
  width: 351px;
  height: 286px;
  color: var(--secondary);
}
.primaryButton {
  position: absolute;
  top: 500px;
  right: 102.19px;
}
.pricingWrapper,
.px {
  position: absolute;
  top: 0;
  left: 37.81px;
  width: 393.19px;
  height: 572px;
}
.pricingWrapper {
  top: 40.5px;
  left: 3px;
  width: 431px;
}
.pricingCard,
.spacers2,
.spacers3 {
  background-color: var(--studio-darkmode-allwhite-ffffff);
}
.pricingCard {
  position: absolute;
  top: 414px;
  left: 0;
  border-radius: var(--br-2xl);
  box-shadow: 0 2px 12px rgba(20, 20, 43, 0.08);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  width: 430px;
  height: 691.25px;
}
.spacers2,
.spacers3 {
  top: 183.5px;
  width: 40px;
  height: 352px;
  opacity: 0.01;
}
.spacers2 {
  position: absolute;
  left: 348px;
}
.spacers3 {
  left: 0;
}
.px11,
.pxInner,
.spacers3 {
  position: absolute;
}
.pxInner {
  height: 62.75%;
  width: 18.43%;
  top: 18.06%;
  right: 75.25%;
  bottom: 19.2%;
  left: 6.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.px11 {
  top: 6px;
  left: 90px;
  width: 180px;
  height: 60px;
}
.px10,
.text2005 {
  position: absolute;
  top: 0;
  left: 0;
}
.px10 {
  width: 231px;
  height: 72px;
}
.text2005 {
  line-height: 20px;
  display: inline-block;
  width: 165.6px;
}
.iconsListItem4,
.iconsListItem5,
.iconsListItem6,
.iconsListItem7 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconsListItem5,
.iconsListItem6,
.iconsListItem7 {
  top: 42px;
}
.iconsListItem6,
.iconsListItem7 {
  top: 84px;
}
.iconsListItem7 {
  top: 126px;
}
.px14 {
  top: 44px;
  width: 350px;
  height: 152px;
}
.price3,
.px14,
.text200Group {
  position: absolute;
  left: 0;
}
.text200Group {
  top: 64px;
  width: 350px;
  height: 196px;
}
.price3 {
  top: 0;
  line-height: 66px;
  display: inline-block;
}
.monthly3 {
  position: absolute;
  top: 12.11px;
  left: 142px;
  width: 87px;
  height: 41.78px;
  font-size: var(--text-single-300-medium-size);
  color: var(--assist);
}
.px13,
.px15 {
  position: absolute;
  left: 0;
}
.px15 {
  top: -19px;
  width: 229px;
  height: 66px;
  font-size: var(--headings-typography-size-1-size);
}
.px13 {
  top: 192px;
  width: 280px;
  height: 286px;
  color: var(--secondary);
}
.primaryButton1 {
  position: absolute;
  top: 478px;
  right: 63px;
}
.pricingWrapper1,
.px8 {
  position: absolute;
  top: 0;
  left: 40.23px;
  width: 371px;
  height: 572px;
}
.pricingWrapper1 {
  top: 40.5px;
  left: 3px;
  width: 411.23px;
}
.pricingCard1,
.spacers4,
.spacers5 {
  position: absolute;
  background-color: var(--studio-darkmode-allwhite-ffffff);
}
.pricingCard1 {
  top: 414px;
  left: 893px;
  border-radius: var(--br-2xl);
  box-shadow: 0 2px 12px rgba(20, 20, 43, 0.08);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  width: 430px;
  height: 691.25px;
}
.spacers4,
.spacers5 {
  top: 184.38px;
  left: 348px;
  width: 40px;
  height: 352px;
  opacity: 0.01;
}
.spacers5 {
  left: 0;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-teal-200);
  width: 18.49px;
  height: 38px;
}
.groupChild1,
.groupChild2 {
  left: 18.49px;
  background-color: var(--assist);
  width: 19.51px;
}
.groupChild1 {
  position: absolute;
  top: 0;
  height: 38px;
}
.groupChild2 {
  top: 18.49px;
  height: 19.51px;
}
.groupChild2,
.price4,
.px19 {
  position: absolute;
}
.price4 {
  top: 20px;
  left: 0;
  font-size: var(--headings-typography-size-3-size);
  line-height: 35px;
  display: inline-block;
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: left;
}
.px19 {
  top: 6px;
  left: 90px;
  width: 126px;
  height: 60px;
}
.px18 {
  top: 0;
  width: 166px;
  height: 72px;
  text-align: center;
}
.groupChild3,
.px18,
.px20 {
  position: absolute;
  left: 0;
}
.px20 {
  top: 90px;
  width: 307px;
  height: 60px;
  color: var(--neutral-400);
}
.groupChild3 {
  top: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-4800);
  width: 98px;
  height: 40px;
}
.popular {
  position: absolute;
  top: 12px;
  left: 24px;
  line-height: 14px;
  display: inline-block;
  width: 50px;
  height: 15px;
}
.rectangleGroup {
  position: absolute;
  top: -18px;
  left: 222px;
  width: 98px;
  height: 40px;
  font-size: var(--font-size-2xs);
  color: var(--studio-darkmode-allwhite-ffffff);
}
.px22 {
  position: absolute;
  top: 44.38px;
  left: 0.49px;
  width: 351px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--neutral-400);
}
.text200Container {
  position: absolute;
  top: 64px;
  left: 0;
  width: 351.49px;
  height: 196.38px;
}
.monthly5 {
  position: relative;
  width: 87px;
  height: 41.78px;
  flex-shrink: 0;
  font-size: var(--text-single-300-medium-size);
  color: var(--neutral-400);
}
.px21 {
  position: absolute;
  top: 191.62px;
  left: -0.49px;
  width: 366px;
  height: 286px;
  color: var(--studio-darkmode-allwhite-ffffff);
}
.primaryButton2 {
  position: absolute;
  top: 500px;
  right: 58px;
}
.px16 {
  position: absolute;
  top: 0;
  left: 39.51px;
  width: 366px;
  height: 572px;
}
.pricingCard2,
.pricingWrapper2 {
  position: absolute;
  top: 39.62px;
  left: 3px;
  width: 405.51px;
  height: 572px;
}
.pricingCard2 {
  top: 360.33px;
  left: 446.71px;
  border-radius: var(--br-2xl);
  background-color: var(--color-teal-200);
  box-shadow: 0 2px 12px rgba(20, 20, 43, 0.08);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  width: 430px;
  height: 691.25px;
  color: var(--neutral-300);
}
.headerParent {
  position: absolute;
  top: 280px;
  left: 21px;
  width: 1323px;
  height: 1105.25px;
  font-size: var(--text-single-200-medium-size);
  color: var(--assist);
  font-family: var(--text-single-200-medium);
}
.inAppPlans {
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 2031px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-3000);
  font-family: var(--font-primary);
} */
