@import "../../styles/variables.css";

.container {
    padding: 0px 5vw 75px 5vw;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .heading {
    @apply --pageHeading;
  }

  .subHeading {
    @apply --subHeading;
  }
  
  .description {
    color: var(--assistColor);
    max-width: 500px;
    margin: 0px 0px 30px 0px;
    text-align: center;
  }

  .key
  {
    font-weight: 500;
    color: var(--assistColor);
  }

  .btns
  {
    display: flex;
    gap: 50px;
    padding-block: 5px;
  }

  .outerFlex
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .flex{
    @apply --boxShadow;
    padding: 30px;
    padding-block:5px;
    margin-top:-35px;
  }

  .status
  {
    padding-block: 5px;
  }