@import "../../styles/variables.css";

.container {
   padding: 0 5vw;
}

.heading {
  @apply --pageHeading;
  margin-bottom: 12px;
   margin-top: 0;
}

.header {
   display: flex;
   flex-direction: column;
   place-items: center;
   padding: 50px 0px 10px 0px;
}

.subHeading {
   @apply --subHeading;
 }

.tabs p {
   margin: 2px;
}

.tabs {
   text-align: center;
}

.description {
   @apply --description;
   max-width: 60%;
}

.tabCards {
   @apply --tabCards;
}

.tabCards a {
   text-decoration: none;
}

:global(.react-tabs__tab--selected) {
   background: none !important;
   border: none !important;
   color: var(--primaryColor) !important;
   border-bottom: 2.5px solid var(--primaryColor) !important;
}

:global(.react-tabs__tab-list) {
   border-bottom: none !important;
}

:global(.react-tabs__tab:first-child) {
   margin-right: 20px;
}
