@import "../../styles/variables.css";

.container {
   padding: 0 5vw;
}

.header {
   display: flex;
   flex-direction: column;
   place-items: center;
   padding: 50px 0px 10px 0px;
}

.header h1 {
   margin-bottom: 12px;
   margin-top: 0;
}

.subHeading {
   @apply --subHeading;
 }

.tabs p {
   margin: 2px;
}

.tabs {
   text-align: center;
}

.description {
   color: var(--assistColor);
   max-width: 600px;
   margin: 0px 0px 30px 0px;
   text-align: center;
}

:global(.react-tabs__tab--selected) {
   background: none !important;
   border: none !important;
   color: var(--primaryColor) !important;
   border-bottom: 2.5px solid var(--primaryColor) !important;
}

:global(.react-tabs__tab-list) {
   border-bottom: none !important;
}

:global(.react-tabs__tab:first-child) {
   margin-right: 20px;
}

.tabCards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 0 5vw;
}

.tabCards a {
   text-decoration: none;
}