@import "../../styles/variables.css";

.formImage {
    flex: 0.5;
}

.formImage img {
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  

.formContainer {
    padding: 0px 0px 75px 0;
}

h1 {
    @apply --headerHeading;
}

.tableContainer {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 4px 3px 5px rgb(0, 0, 0, 0.1);
    border-radius: 20px 0px 0px 20px;
}

.form {
    flex: 0.6;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--primaryColor);
    padding: 0px 60px;
    color: #505e6c;

    @media (max-width:991px) {
        .form {
            padding: 40px;
        }
    }
}

.text {
    text-align: center;
    color: var(--formLight);
    margin-top: 15px;
}

.forget {
    color: var(--formLight);
    text-align: end;
    display: block;
    margin: -10px 0px 10px 0px;
}

.loginTitle {
    color: var(--whiteColor);
    margin: 0px;
}

.white {
    color: var(--whiteColor);
    padding-top: 25px;
}