@import "../../styles/variables.css";

.container {
    margin-top: 16px;
}

.input {
    font-size: 18px;
    @apply --input;
    border: 1px solid lightgray;
    padding: 15px;
    margin-bottom: 20px;
}