@import "../../styles/variables.css";

.container {
  padding: 2vh 7vw;
}

.heading {
  @apply --pageHeading;
}

.subHeading {
  @apply --spacedHeading;
}

.header {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-block: 50px;
}

.description {
  @apply --description;
  text-align: left;
}

.imageContainer img {
  padding-top: 100px;
  max-width: 100%;
  position: sticky;
  top: 120px;
  right: 0;
}

.formFields {
  width: 70%;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.uploadMedia {
  border: 1px solid #ccc;
  padding: 15px;
  width: 93%;
  border-radius: 5px;
  font-weight: 500;
}

#media-upload {
  margin-left: 20px;
  font-size: 50px;
}

/* specific to add hotel room component */

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.hotelAmeneties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hotelAmeneties>* {
  width: 45%;
}

/* specific to add service component */

.imgBtn {
  padding-left: 50px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.serviceType {
  width: 80%;
}

.btn {
  padding-top: 20px;
}