@import "../../styles/variables.css";

.container {
   padding: 50px 5vw;
   display: flex;
   align-items: center;
   gap: 150px;
}

.image {
   height: 500px;
}

.heading {
   @apply --homeHeadings;
   max-width: 650px;
}

.heading p {
   margin-bottom: 12px;
}

.logo {
   color: var(--primaryColor);
}

.description {
   @apply --description;
   text-align: left;
}
