.container {
   padding: 50px 5vw;
   display: flex;
   align-items: center;
   gap: 150px;
}

.image {
   height: 500px;
}

.heading {
   display: flex;
   flex-wrap: wrap;
   max-width: 650px;
   font-size: 3rem;
   font-weight: 700;
   line-height: 4rem;
}

.heading p {
   margin-bottom: 12px;
}

.logo {
   color: var(--primaryColor);
}

.description {
   max-width: 600px;
   line-height: 1.8rem;
   padding-bottom: 24px;
}
