@import "../../styles/variables.css";

.phoneField>input {
    @apply --inputField;
    width: 424px !important;
}

.phoneContainer {
    margin-bottom: 15px;
}

.phoneField>input::placeholder {
    font-weight: 400;
    color: #747688;
}
