.container{
    display: flex;
    column-gap: 30px;
    padding: 2vh 8vw;
  }

.container h1 {
    font-size: 2.3rem;
    margin: 0px;
  }

  .bookingText{
    text-align: justify;
    text-justify: inter-word;
    width: 90%;
  }