@import '../../styles/variables.css';

.container{
    display: flex;
    column-gap: 30px;
    padding: 2vh 8vw;
  }

  .heading {
    @apply --pageHeading;
  }

  .bookingText{
    text-align: justify;
    width: 90%;
    margin: 0px;
  }