.container{
    display: flex;
    column-gap: 30px;
    padding: 2vh 7vw;
  }

.container h1 {
    font-size: 2.3rem;
    margin: 0px;
  }

  .bookingText{
    text-align: justify;
    text-justify: inter-word;
    width: 90%;
  }

#earning{
    width: 200px;
}

.icons{
    margin-top: 150px;
}

.imgContainer
{
    position: relative;
}
.count{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primaryColor);
    font-size: 1.2rem;
    font-weight: 500;
}