@import "../../styles/variables.css";

.container {
  padding: 0px 5vw 75px 5vw;
}

.header {
  padding-block: 50px;
}

.heading {
  @apply --pageHeading;
  text-align: left;
}

.flex p {
  min-width: 450px !important;
  color: var(--assistColor);
  line-height: 1.7rem;
  text-align: justify;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
}

.subHeading {
  @apply --subHeading;
  text-align: center;
}

.testimonial {
  @apply --testimonial;
}

.tabs p {
  margin: 2px;
}

.tabs {
  text-align: center;
}

.description {
  @apply --description;
}

.tabCards {
  @apply --tabCards;
}

.tabCards a {
  text-decoration: none;
}