.container {
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   place-items: center;
}

.image {
   min-width: 100%;
}

.content {
   transform: translate(0%, -50%);
   background-color: var(--whiteColor);
   width: 700px;
   border-radius: 20px;
   padding: 10px 50px 30px 50px;
   box-shadow: var(--navBarShadow);
}

.content p {
   font-size: 1.7rem;
   line-height: 1.5;
   font-weight: 600;
}

.actions {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}

.inputLabeled {
   display: flex;
   flex-direction: column;
   color: var(--assistColor);
}

.inputIconed {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 32px;
}

.sLabel {
   color: var(--primaryColor);
   font-size: 1.1rem;
   font-weight: 600;
}

.content input {
   border: none;
   outline: none;
   margin-top: 10px;

   &:focus,
   &:hover {
      border-bottom: 2px solid var(--primaryColor);
   }

   &::placeholder {
      color: var(--secondaryColor) !important;
      font-size: 0.9rem;
      font-weight: 400;
   }
}

.divider {
   border-left: 3px solid var(--assistColorLight);
   height: 50px;
}

.serviceType select {
   border: none;
   padding: 0px;
}
