.buttonSize {
    background-color: transparent;
    border: 2px solid #004346;
    border-radius: 4px;
    color: #004346;
    cursor: pointer;
    font-size: 20px;
    padding: 12px 40px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .buttonSize:hover {
    background-color: #004346;
    color: #fff;
  }
  

  